/* ======================================================================================================== */
/* ================================================ 共通設定 =============================================== */
/* ======================================================================================================== */
.mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.amgothic {
	font-family: "FOT-筑紫A丸ゴシック Std B";	
}

.relative { position: relative; } .absolute { position: absolute; }
.inline { display: inline; } .inline_block { display:inline-block; } .block { display:block; }

.text-left { text-align: left; } .text-right { text-align: right; } .text-center { text-align: center; } .text-justify { text-align: justify; text-justify: inter-ideograph; }
@media screen and (max-width: 767px) {
.text-center { text-align: left; }
.text-center-xs { text-align: center; }
}

@media screen and (max-width: 1199px) {
.container { max-width: 980px; padding-left: 15px; padding-right: 15px;
}
}
@media screen and (max-width: 991px) {
.container { max-width: 760px; }
}

.pd-common { padding-top: 50px; padding-bottom: 50px; padding-left: 0px; padding-right: 0px; }
@media screen and (max-width: 767px) {
.pd-common { padding-top: 30px; padding-bottom: 30px; padding-left: 0px; padding-right: 0px; }
}
.bg-common { background-repeat: no-repeat; background-position: center; background-size: cover; }

h1, .h1, h2, .h2, h3, .h3,h4, .h4, h5, .h5, h6, .h6{ margin-top: 0; margin-bottom: 0; font-weight: normal; line-height:1.7em; font-size: 1em; }

.op1 { opacity: 0.1; } .op2 { opacity: 0.2; } .op3 { opacity: 0.3; } .op4 { opacity: 0.4; } .op5 { opacity: 0.5; }
.op6 { opacity: 0.6; } .op7 { opacity: 0.7; } .op8 { opacity: 0.8; } .op9 { opacity: 0.9; } .op10 { opacity: 1; }

/* ********************************************************************** */
/* *** LIST START ******************************************************* */
/* ********************************************************************** */
.ul-1 , .ul-2 , .ul-3 , .ul-4 , .ul-5 { letter-spacing: -0.4em; }
.ul-5 > li { width: 20%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-4 > li { width: 25%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-3 > li { width: 33.3333333333%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-2 > li { width: 50%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-1 > li { width: 100%; display: inline-block; vertical-align: top; letter-spacing: normal; }

@media screen and (max-width: 991px) {
	.ul-sm-5 > li { width: 20%!important; display: inline-block; vertical-align: top; }
	.ul-sm-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-sm-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-sm-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-sm-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
@media screen and (max-width: 767px) {
	.ul-xs-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-xs-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-xs-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-xs-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
/* *** LIST END ********************************************************* */

/* ********************************************************************** */
/* *** FONT START ******************************************************* */
/* ********************************************************************** */
.bold{ font-weight: bold; } .normal{ font-weight: normal!important; }
.lh_l { line-height: 2.0em; } .lh_m { line-height: 1.7em; } .lh_s { line-height: 1.4em; }

.fs01{ font-size: 0.1em; } .fs02{ font-size: 0.2em; } .fs03{ font-size: 0.3em; } .fs04{ font-size: 0.4em; } .fs05{ font-size: 0.5em; }
.fs06{ font-size: 0.6em; } .fs07{ font-size: 0.7em; } .fs08{ font-size: 0.8em; } .fs09{ font-size: 0.9em; } .fs10{ font-size: 1.0em; }
.fs11{ font-size: 1.1em; } .fs12{ font-size: 1.2em; } .fs13{ font-size: 1.3em; } .fs14{ font-size: 1.4em; } .fs15{ font-size: 1.5em; }
.fs16{ font-size: 1.6em; } .fs17{ font-size: 1.7em; } .fs18{ font-size: 1.8em; } .fs19{ font-size: 1.9em; } .fs20{ font-size: 2.0em; }
.fs21{ font-size: 2.1em; } .fs22{ font-size: 2.2em; } .fs23{ font-size: 2.3em; } .fs24{ font-size: 2.4em; } .fs25{ font-size: 2.5em; }
.fs26{ font-size: 2.6em; } .fs27{ font-size: 2.7em; } .fs28{ font-size: 2.8em; } .fs29{ font-size: 2.9em; } .fs30{ font-size: 3.0em; }
@media screen and (max-width: 1199px) {
.fs-md-01{ font-size: 0.1em; } .fs-md-02{ font-size: 0.2em; } .fs-md-03{ font-size: 0.3em; } .fs-md-04{ font-size: 0.4em; } .fs-md-05{ font-size: 0.5em; }
.fs-md-06{ font-size: 0.6em; } .fs-md-07{ font-size: 0.7em; } .fs-md-08{ font-size: 0.8em; } .fs-md-09{ font-size: 0.9em; } .fs-md-10{ font-size: 1.0em; }
.fs-md-11{ font-size: 1.1em; } .fs-md-12{ font-size: 1.2em; } .fs-md-13{ font-size: 1.3em; } .fs-md-14{ font-size: 1.4em; } .fs-md-15{ font-size: 1.5em; }
.fs-md-16{ font-size: 1.6em; } .fs-md-17{ font-size: 1.7em; } .fs-md-18{ font-size: 1.8em; } .fs-md-19{ font-size: 1.9em; } .fs-md-20{ font-size: 2.0em; }
.fs-md-21{ font-size: 2.1em; } .fs-md-22{ font-size: 2.2em; } .fs-md-23{ font-size: 2.3em; } .fs-md-24{ font-size: 2.4em; } .fs-md-25{ font-size: 2.5em; }
.fs-md-26{ font-size: 2.6em; } .fs-md-27{ font-size: 2.7em; } .fs-md-28{ font-size: 2.8em; } .fs-md-29{ font-size: 2.9em; } .fs-md-30{ font-size: 3.0em; }
}
@media screen and (max-width: 991px) {
.fs-sm-01{ font-size: 0.1em; } .fs-sm-02{ font-size: 0.2em; } .fs-sm-03{ font-size: 0.3em; } .fs-sm-04{ font-size: 0.4em; } .fs-sm-05{ font-size: 0.5em; }
.fs-sm-06{ font-size: 0.6em; } .fs-sm-07{ font-size: 0.7em; } .fs-sm-08{ font-size: 0.8em; } .fs-sm-09{ font-size: 0.9em; } .fs-sm-10{ font-size: 1.0em; }
.fs-sm-11{ font-size: 1.1em; } .fs-sm-12{ font-size: 1.2em; } .fs-sm-13{ font-size: 1.3em; } .fs-sm-14{ font-size: 1.4em; } .fs-sm-15{ font-size: 1.5em; }
.fs-sm-16{ font-size: 1.6em; } .fs-sm-17{ font-size: 1.7em; } .fs-sm-18{ font-size: 1.8em; } .fs-sm-19{ font-size: 1.9em; } .fs-sm-20{ font-size: 2.0em; }
.fs-sm-21{ font-size: 2.1em; } .fs-sm-22{ font-size: 2.2em; } .fs-sm-23{ font-size: 2.3em; } .fs-sm-24{ font-size: 2.4em; } .fs-sm-25{ font-size: 2.5em; }
.fs-sm-26{ font-size: 2.6em; } .fs-sm-27{ font-size: 2.7em; } .fs-sm-28{ font-size: 2.8em; } .fs-sm-29{ font-size: 2.9em; } .fs-sm-30{ font-size: 3.0em; }
}
@media screen and (max-width: 767px) {
.fs-xs-01{ font-size: 0.1em; } .fs-xs-02{ font-size: 0.2em; } .fs-xs-03{ font-size: 0.3em; } .fs-xs-04{ font-size: 0.4em; } .fs-xs-05{ font-size: 0.5em; }
.fs-xs-06{ font-size: 0.6em; } .fs-xs-07{ font-size: 0.7em; } .fs-xs-08{ font-size: 0.8em; } .fs-xs-09{ font-size: 0.9em; } .fs-xs-10{ font-size: 1.0em; }
.fs-xs-11{ font-size: 1.1em; } .fs-xs-12{ font-size: 1.2em; } .fs-xs-13{ font-size: 1.3em; } .fs-xs-14{ font-size: 1.4em; } .fs-xs-15{ font-size: 1.5em; }
.fs-xs-16{ font-size: 1.6em; } .fs-xs-17{ font-size: 1.7em; } .fs-xs-18{ font-size: 1.8em; } .fs-xs-19{ font-size: 1.9em; } .fs-xs-20{ font-size: 2.0em; }
.fs-xs-21{ font-size: 2.1em; } .fs-xs-22{ font-size: 2.2em; } .fs-xs-23{ font-size: 2.3em; } .fs-xs-24{ font-size: 2.4em; } .fs-xs-25{ font-size: 2.5em; }
.fs-xs-26{ font-size: 2.6em; } .fs-xs-27{ font-size: 2.7em; } .fs-xs-28{ font-size: 2.8em; } .fs-xs-29{ font-size: 2.9em; } .fs-xs-30{ font-size: 3.0em; }
}
/* *** FONT END ********************************************************* */

/* ********************************************************************** */
/* *** MARGIN START ***************************************************** */
/* ********************************************************************** */
/* margin-top */
.mt0{ margin-top: 0px!important; }
.mt10{ margin-top: 10px!important; } .mt20{ margin-top: 20px!important; } .mt30{ margin-top: 30px!important; } .mt40{ margin-top: 40px!important; } .mt50{ margin-top: 50px!important; }
.mt60{ margin-top: 60px!important; } .mt70{ margin-top: 70px!important; } .mt80{ margin-top: 80px!important; } .mt90{ margin-top: 90px!important; } .mt100{ margin-top: 100px!important; }
.mt110{ margin-top: 110px!important; } .mt120{ margin-top: 120px!important; } .mt130{ margin-top: 130px!important; } .mt140{ margin-top: 140px!important; } .mt150{ margin-top: 150px!important; }
.mt160{ margin-top: 160px!important; } .mt170{ margin-top: 170px!important; } .mt180{ margin-top: 180px!important; } .mt190{ margin-top: 190px!important; } .mt200{ margin-top: 200px!important; }
.mt-m10{ margin-top: -10px!important; } .mt-m20{ margin-top: -20px!important; } .mt-m30{ margin-top: -30px!important; } .mt-m40{ margin-top: -40px!important; } .mt-m50{ margin-top: -50px!important; }
.mt-m60{ margin-top: -60px!important; } .mt-m70{ margin-top: -70px!important; } .mt-m80{ margin-top: -80px!important; } .mt-m90{ margin-top: -90px!important; } .mt-m100{ margin-top: -100px!important; }
@media screen and (max-width: 1199px) {
.mt-md-0{ margin-top: 0px!important; }
.mt-md-10{ margin-top: 10px!important; } .mt-md-20{ margin-top: 20px!important; } .mt-md-30{ margin-top: 30px!important; } .mt-md-40{ margin-top: 40px!important; } .mt-md-50{ margin-top: 50px!important; }
.mt-md-60{ margin-top: 60px!important; } .mt-md-70{ margin-top: 70px!important; } .mt-md-80{ margin-top: 80px!important; } .mt-md-90{ margin-top: 90px!important; } .mt-md-100{ margin-top: 100px!important; }
.mt-md-110{ margin-top: 110px!important; } .mt-md-120{ margin-top: 120px!important; } .mt-md-130{ margin-top: 130px!important; } .mt-md-140{ margin-top: 140px!important; } .mt-md-150{ margin-top: 150px!important; }
.mt-md-160{ margin-top: 160px!important; } .mt-md-170{ margin-top: 170px!important; } .mt-md-180{ margin-top: 180px!important; } .mt-md-190{ margin-top: 190px!important; } .mt-md-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 991px) {
.mt-sm-0{ margin-top: 0px!important; }
.mt-sm-10{ margin-top: 10px!important; } .mt-sm-20{ margin-top: 20px!important; } .mt-sm-30{ margin-top: 30px!important; } .mt-sm-40{ margin-top: 40px!important; } .mt-sm-50{ margin-top: 50px!important; }
.mt-sm-60{ margin-top: 60px!important; } .mt-sm-70{ margin-top: 70px!important; } .mt-sm-80{ margin-top: 80px!important; } .mt-sm-90{ margin-top: 90px!important; } .mt-sm-100{ margin-top: 100px!important; }
.mt-sm-110{ margin-top: 110px!important; } .mt-sm-120{ margin-top: 120px!important; } .mt-sm-130{ margin-top: 130px!important; } .mt-sm-140{ margin-top: 140px!important; } .mt-sm-150{ margin-top: 150px!important; }
.mt-sm-160{ margin-top: 160px!important; } .mt-sm-170{ margin-top: 170px!important; } .mt-sm-180{ margin-top: 180px!important; } .mt-sm-190{ margin-top: 190px!important; } .mt-sm-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 767px) {
.mt-xs-0{ margin-top: 0px!important; }
.mt-xs-10{ margin-top: 10px!important; } .mt-xs-20{ margin-top: 20px!important; } .mt-xs-30{ margin-top: 30px!important; } .mt-xs-40{ margin-top: 40px!important; } .mt-xs-50{ margin-top: 50px!important; }
.mt-xs-60{ margin-top: 60px!important; } .mt-xs-70{ margin-top: 70px!important; } .mt-xs-80{ margin-top: 80px!important; } .mt-xs-90{ margin-top: 90px!important; } .mt-xs-100{ margin-top: 100px!important; }
.mt-xs-110{ margin-top: 110px!important; } .mt-xs-120{ margin-top: 120px!important; } .mt-xs-130{ margin-top: 130px!important; } .mt-xs-140{ margin-top: 140px!important; } .mt-xs-150{ margin-top: 150px!important; }
.mt-xs-160{ margin-top: 160px!important; } .mt-xs-170{ margin-top: 170px!important; } .mt-xs-180{ margin-top: 180px!important; } .mt-xs-190{ margin-top: 190px!important; } .mt-xs-200{ margin-top: 200px!important; }
}

/* margin-bottom */
.mb0{ margin-bottom: 0px!important; }
.mb10{ margin-bottom: 10px!important; } .mb20{ margin-bottom: 20px!important; } .mb30{ margin-bottom: 30px!important; } .mb40{ margin-bottom: 40px!important; } .mb50{ margin-bottom: 50px!important; }
.mb60{ margin-bottom: 60px!important; } .mb70{ margin-bottom: 70px!important; } .mb80{ margin-bottom: 80px!important; } .mb90{ margin-bottom: 90px!important; } .mb100{ margin-bottom: 100px!important; }
.mb110{ margin-bottom: 110px!important; } .mb120{ margin-bottom: 120px!important; } .mb130{ margin-bottom: 130px!important; } .mb140{ margin-bottom: 140px!important; } .mb150{ margin-bottom: 150px!important; }
.mb160{ margin-bottom: 160px!important; } .mb170{ margin-bottom: 170px!important; } .mb180{ margin-bottom: 180px!important; } .mb190{ margin-bottom: 190px!important; } .mb200{ margin-bottom: 200px!important; }
@media screen and (max-width: 1199px) {
.mb-md-0{ margin-bottom: 0px!important; }
.mb-md-10{ margin-bottom: 10px!important; } .mb-md-20{ margin-bottom: 20px!important; } .mb-md-30{ margin-bottom: 30px!important; } .mb-md-40{ margin-bottom: 40px!important; } .mb-md-50{ margin-bottom: 50px!important; }
.mb-md-60{ margin-bottom: 60px!important; } .mb-md-70{ margin-bottom: 70px!important; } .mb-md-80{ margin-bottom: 80px!important; } .mb-md-90{ margin-bottom: 90px!important; } .mb-md-100{ margin-bottom: 100px!important; }
.mb-md-110{ margin-bottom: 110px!important; } .mb-md-120{ margin-bottom: 120px!important; } .mb-md-130{ margin-bottom: 130px!important; } .mb-md-140{ margin-bottom: 140px!important; } .mb-md-150{ margin-bottom: 150px!important; }
.mb-md-160{ margin-bottom: 160px!important; } .mb-md-170{ margin-bottom: 170px!important; } .mb-md-180{ margin-bottom: 180px!important; } .mb-md-190{ margin-bottom: 190px!important; } .mb-md-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 991px) {
.mb-sm-0{ margin-bottom: 0px!important; }
.mb-sm-10{ margin-bottom: 10px!important; } .mb-sm-20{ margin-bottom: 20px!important; } .mb-sm-30{ margin-bottom: 30px!important; } .mb-sm-40{ margin-bottom: 40px!important; } .mb-sm-50{ margin-bottom: 50px!important; }
.mb-sm-60{ margin-bottom: 60px!important; } .mb-sm-70{ margin-bottom: 70px!important; } .mb-sm-80{ margin-bottom: 80px!important; } .mb-sm-90{ margin-bottom: 90px!important; } .mb-sm-100{ margin-bottom: 100px!important; }
.mb-sm-110{ margin-bottom: 110px!important; } .mb-sm-120{ margin-bottom: 120px!important; } .mb-sm-130{ margin-bottom: 130px!important; } .mb-sm-140{ margin-bottom: 140px!important; } .mb-sm-150{ margin-bottom: 150px!important; }
.mb-sm-160{ margin-bottom: 160px!important; } .mb-sm-170{ margin-bottom: 170px!important; } .mb-sm-180{ margin-bottom: 180px!important; } .mb-sm-190{ margin-bottom: 190px!important; } .mb-sm-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 767px) {
.mb-xs-0{ margin-bottom: 0px!important; }
.mb-xs-10{ margin-bottom: 10px!important; } .mb-xs-20{ margin-bottom: 20px!important; } .mb-xs-30{ margin-bottom: 30px!important; } .mb-xs-40{ margin-bottom: 40px!important; } .mb-xs-50{ margin-bottom: 50px!important; }
.mb-xs-60{ margin-bottom: 60px!important; } .mb-xs-70{ margin-bottom: 70px!important; } .mb-xs-80{ margin-bottom: 80px!important; } .mb-xs-90{ margin-bottom: 90px!important; } .mb-xs-100{ margin-bottom: 100px!important; }
.mb-xs-110{ margin-bottom: 110px!important; } .mb-xs-120{ margin-bottom: 120px!important; } .mb-xs-130{ margin-bottom: 130px!important; } .mb-xs-140{ margin-bottom: 140px!important; } .mb-xs-150{ margin-bottom: 150px!important; }
.mb-xs-160{ margin-bottom: 160px!important; } .mb-xs-170{ margin-bottom: 170px!important; } .mb-xs-180{ margin-bottom: 180px!important; } .mb-xs-190{ margin-bottom: 190px!important; } .mb-xs-200{ margin-bottom: 200px!important; }
}

/* margin-left */
.ml0 { margin-left: 0px!important; } .ml-auto { margin-left: auto!important; }
.ml10{ margin-left: 10px!important; } .ml20{ margin-left: 20px!important; } .ml30{ margin-left: 30px!important; } .ml40{ margin-left: 40px!important; } .ml50{ margin-left: 50px!important; }
.ml60{ margin-left: 60px!important; } .ml70{ margin-left: 70px!important; } .ml80{ margin-left: 80px!important; } .ml90{ margin-left: 90px!important; } .ml100{ margin-left: 100px!important; }
.ml110{ margin-left: 110px!important; } .ml120{ margin-left: 120px!important; } .ml130{ margin-left: 130px!important; } .ml140{ margin-left: 140px!important; } .ml150{ margin-left: 150px!important; }
.ml160{ margin-left: 160px!important; } .ml170{ margin-left: 170px!important; } .ml180{ margin-left: 180px!important; } .ml190{ margin-left: 190px!important; } .ml200{ margin-left: 200px!important; }
@media screen and (max-width: 1199px) {
.ml-md-0 { margin-left: 0px!important; } .ml-md-auto { margin-left: auto!important; }
.ml-md-10{ margin-left: 10px!important; } .ml-md-20{ margin-left: 20px!important; } .ml-md-30{ margin-left: 30px!important; } .ml-md-40{ margin-left: 40px!important; } .ml-md-50{ margin-left: 50px!important; }
.ml-md-60{ margin-left: 60px!important; } .ml-md-70{ margin-left: 70px!important; } .ml-md-80{ margin-left: 80px!important; } .ml-md-90{ margin-left: 90px!important; } .ml-md-100{ margin-left: 100px!important; }
.ml-md-110{ margin-left: 110px!important; } .ml-md-120{ margin-left: 120px!important; } .ml-md-130{ margin-left: 130px!important; } .ml-md-140{ margin-left: 140px!important; } .ml-md-150{ margin-left: 150px!important; } 
.ml-md-160{ margin-left: 160px!important; } .ml-md-170{ margin-left: 170px!important; } .ml-md-180{ margin-left: 180px!important; } .ml-md-190{ margin-left: 190px!important; } .ml-md-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 991px) {
.ml-sm-0 { margin-left: 0px!important; } .ml-sm-auto { margin-left: auto!important; }
.ml-sm-10{ margin-left: 10px!important; } .ml-sm-20{ margin-left: 20px!important; } .ml-sm-30{ margin-left: 30px!important; } .ml-sm-40{ margin-left: 40px!important; } .ml-sm-50{ margin-left: 50px!important; }
.ml-sm-60{ margin-left: 60px!important; } .ml-sm-70{ margin-left: 70px!important; } .ml-sm-80{ margin-left: 80px!important; } .ml-sm-90{ margin-left: 90px!important; } .ml-sm-100{ margin-left: 100px!important; }
.ml-sm-110{ margin-left: 110px!important; } .ml-sm-120{ margin-left: 120px!important; } .ml-sm-130{ margin-left: 130px!important; } .ml-sm-140{ margin-left: 140px!important; } .ml-sm-150{ margin-left: 150px!important; }
.ml-sm-160{ margin-left: 160px!important; } .ml-sm-170{ margin-left: 170px!important; } .ml-sm-180{ margin-left: 180px!important; } .ml-sm-190{ margin-left: 190px!important; } .ml-sm-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 767px) {
.ml-xs-0 { margin-left: 0px!important; } .ml-xs-auto{ margin-left: auto!important; }
.ml-xs-10{ margin-left: 10px!important; } .ml-xs-20{ margin-left: 20px!important; } .ml-xs-30{ margin-left: 30px!important; } .ml-xs-40{ margin-left: 40px!important; } .ml-xs-50{ margin-left: 50px!important; }
.ml-xs-60{ margin-left: 60px!important; } .ml-xs-70{ margin-left: 70px!important; } .ml-xs-80{ margin-left: 80px!important; } .ml-xs-90{ margin-left: 90px!important; } .ml-xs-100{ margin-left: 100px!important; }
.ml-xs-110{ margin-left: 110px!important; } .ml-xs-120{ margin-left: 120px!important; } .ml-xs-130{ margin-left: 130px!important; } .ml-xs-140{ margin-left: 140px!important; } .ml-xs-150{ margin-left: 150px!important; }
.ml-xs-160{ margin-left: 160px!important; } .ml-xs-170{ margin-left: 170px!important; } .ml-xs-180{ margin-left: 180px!important; } .ml-xs-190{ margin-left: 190px!important; } .ml-xs-200{ margin-left: 200px!important; }
}

/* margin-right */
.mr0{ margin-right: 0px!important; } .mr-auto { margin-right: auto!important; }
.mr10{ margin-right: 10px!important; } .mr20{ margin-right: 20px!important; } .mr30{ margin-right: 30px!important; } .mr40{ margin-right: 40px!important; } .mr50{ margin-right: 50px!important; }
.mr60{ margin-right: 60px!important; } .mr70{ margin-right: 70px!important; } .mr80{ margin-right: 80px!important; } .mr90{ margin-right: 90px!important; } .mr100{ margin-right: 100px!important; }
.mr110{ margin-right: 110px!important; } .mr120{ margin-right: 120px!important; } .mr130{ margin-right: 130px!important; } .mr140{ margin-right: 140px!important; } .mr150{ margin-right: 150px!important; }
.mr160{ margin-right: 160px!important; } .mr170{ margin-right: 170px!important; } .mr180{ margin-right: 180px!important; } .mr190{ margin-right: 190px!important; } .mr200{ margin-right: 200px!important; }
@media screen and (max-width: 1199px) {
.mr-md-0{ margin-right: 0px!important; } .mr-md-auto { margin-right: auto!important; }
.mr-md-10{ margin-right: 10px!important; } .mr-md-20{ margin-right: 20px!important; } .mr-md-30{ margin-right: 30px!important; } .mr-md-40{ margin-right: 40px!important; } .mr-md-50{ margin-right: 50px!important; }
.mr-md-60{ margin-right: 60px!important; } .mr-md-70{ margin-right: 70px!important; } .mr-md-80{ margin-right: 80px!important; } .mr-md-90{ margin-right: 90px!important; } .mr-md-100{ margin-right: 100px!important; }
.mr-md-110{ margin-right: 110px!important; } .mr-md-120{ margin-right: 120px!important; } .mr-md-130{ margin-right: 130px!important; } .mr-md-140{ margin-right: 140px!important; } .mr-md-150{ margin-right: 150px!important; }
.mr-md-160{ margin-right: 160px!important; } .mr-md-170{ margin-right: 170px!important; } .mr-md-180{ margin-right: 180px!important; } .mr-md-190{ margin-right: 190px!important; } .mr-md-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 991px) {
.mr-sm-0{ margin-right: 0px!important; } .mr-sm-auto { margin-right: auto!important; }
.mr-sm-10{ margin-right: 10px!important; } .mr-sm-20{ margin-right: 20px!important; } .mr-sm-30{ margin-right: 30px!important; } .mr-sm-40{ margin-right: 40px!important; } .mr-sm-50{ margin-right: 50px!important; }
.mr-sm-60{ margin-right: 60px!important; } .mr-sm-70{ margin-right: 70px!important; } .mr-sm-80{ margin-right: 80px!important; } .mr-sm-90{ margin-right: 90px!important; } .mr-sm-100{ margin-right: 100px!important; }
.mr-sm-110{ margin-right: 110px!important; } .mr-sm-120{ margin-right: 120px!important; } .mr-sm-130{ margin-right: 130px!important; } .mr-sm-140{ margin-right: 140px!important; } .mr-sm-150{ margin-right: 150px!important; }
.mr-sm-160{ margin-right: 160px!important; } .mr-sm-170{ margin-right: 170px!important; } .mr-sm-180{ margin-right: 180px!important; } .mr-sm-190{ margin-right: 190px!important; } .mr-sm-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 767px) {
.mr-xs-0{ margin-right: 0px!important; } .mr-xs-auto{ margin-right: auto!important; }
.mr-xs-10{ margin-right: 10px!important; } .mr-xs-20{ margin-right: 20px!important; } .mr-xs-30{ margin-right: 30px!important; } .mr-xs-40{ margin-right: 40px!important; } .mr-xs-50{ margin-right: 50px!important; }
.mr-xs-60{ margin-right: 60px!important; } .mr-xs-70{ margin-right: 70px!important; } .mr-xs-80{ margin-right: 80px!important; } .mr-xs-90{ margin-right: 90px!important; } .mr-xs-100{ margin-right: 100px!important; }
.mr-xs-110{ margin-right: 110px!important; } .mr-xs-120{ margin-right: 120px!important; } .mr-xs-130{ margin-right: 130px!important; } .mr-xs-140{ margin-right: 140px!important; } .mr-xs-150{ margin-right: 150px!important; }
.mr-xs-160{ margin-right: 160px!important; } .mr-xs-170{ margin-right: 170px!important; } .mr-xs-180{ margin-right: 180px!important; } .mr-xs-190{ margin-right: 190px!important; } .mr-xs-200{ margin-right: 200px!important; }
}
/* *** MARGIN END ******************************************************* */



/* ======================================================================================================== */
/* ================================================= ヘッダー ============================================== */
/* ======================================================================================================== */
header {
	background-color: #ecebe4;
	position: relative;
	font-family: "Hannari", Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	margin-bottom: 0px;
}
header:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 12px;
	background-image: url('../img/h_partation.png');
	background-size: cover;
	background-repeat: no-repeat;
	bottom: -12px;
	left: 0;
	right: 0;
	z-index: 10;
}


header .menu-item:last-child a {
	color: #fff;
	background-color: #325e35;
	padding: 21px 25px 25px;
	border: 2px solid #325e35;
	transition: all 0.3s;
}
header .menu-item:last-child a:hover {
	color: #325e35;
	background-color: #fff;
}

.menu-item a {
	margin-top: 0px;
}
.headerMenu {
	margin-top: 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.headerText .text_s {
		width: 180px;
		font-size: 10px;
		line-height: 1.2em;
	}
}





/* ======================================================================================================== */
/* ================================================= 共通部分 ============================================== */
/* ======================================================================================================== */

.pt_title_eng {
	font-size: 4em;
	display: inline-block;
	color: #78b57f;
	font-family: "RoGaramond";
	line-height: 1em;
	opacity: 0.3;
}
.pt_title_jp {
	font-size: 1.5em;
	color: #325e35;
	margin-bottom: 30px;
}
.pt_btn01 {
	display: inline-block;
	border: 2px solid #325e35;
	color: #fff;
	background-color: #325e35;
	width: 100%;
	max-width: 280px;
	text-align: center;
	padding: 8px 10px;
	transition: all 0.3s;
}
.pt_btn01:hover {
	background-color: #fff;
	color: #325e35;
	opacity: 1;
}

.h_mincho {
	font-family: "Hannari", Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

@media screen and (max-width: 1199px) {
	.pt_title_jp {
		font-size: 1.3em;
	}
	.pt_title_eng {
		font-size: 3em;
	}
}

@media screen and (max-width: 767px) {
	.pt_title_eng {
		font-size: 2.6em;
		display: inline-block;
		color: #78b57f;
		font-family: "RoGaramond";
		line-height: 1em;
		margin-bottom: 5px;
	}
	.pt_title_jp {
		font-size: 1.3em;
		color: #325e35;
		margin-bottom: 20px;
	}
	.pt_btn01 {
		max-width: 240px;
	}
}


/* ======================================================================================================== */
/* =============================================== トップページ ============================================= */
/* ======================================================================================================== */

.top_feature_txt {
	width: 100%;
	max-width: 740px;
	margin: 0 auto 30px;
}

.top_feature_ul {
	margin-left: -10px;
	margin-right: -10px;
}
.top_feature_ul > li {
	padding: 0px 10px;
}
.top_feature_img {
	padding-bottom: 67%;
}
.top_feature_txtarea {
	padding: 15px 20px 20px;
}
.top_feature_title {
	font-size: 1.125em;
	color: #325e35;
	position: relative;
	padding-left: 40px;
	line-height: 1em;
	margin-bottom: 20px;
}
.top_feature_title:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 1px;
	height: 42px;
	background-color: #325e35;
}

/* 診療内容 */
.main_color {
	color: #325e35;
}
.top_service_txtarea {
	padding: 20px;
	border-bottom: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	transition: all 0.3s;
}
.top_service_ul > li:last-child .top_service_txtarea {
	border-right: 1px solid #c9c9c9;
}
.top_service_img_outer {
	overflow: hidden;
}
.top_service_img {
	padding-bottom: 120%;
	transition: all .3s ease-out;
}
.top_service_ul > li a:hover {
	opacity: 1;
}
.top_service_ul > li a:hover .top_service_img {
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
}
.top_service_ul > li a:hover .top_service_txtarea {
	opacity: 0.8;
	background-color: rgba(120,181,127,0.3);
}
.top_service_jp {
	font-size: 1.4em;
	margin-bottom: 0px;
}
.top_service_eng {
	font-size: 1.0em;
	font-family: "RoGaramond";
	color: #78b57f;
}


/* 新着情報 */
.top_news_title {
	font-size: 1.5em;
	color: #78b17f;
	border-bottom: 1px solid #325e35;
	text-align: center;
	width: 90%;
	margin: 0 auto 30px;
}
.top_news_table {
	width: 100%;
}
.top_news_table th , .top_news_table td {
	padding: 10px 10px 20px;
	font-weight: normal;
	vertical-align: top;
}
.top_news_table th {
	color: #78b17f;
	width: 20%;
	font-family: "RoGaramond";
}
.top_news_table td {
	color: #325e35;
	width: 80%;
}
.top_news_table td a:hover {
	text-decoration: underline;
}

.top_column_txt {
	color: #325e35;
}
.top_column_date {
	color: #78b17f;
	font-family: "RoGaramond";
}
.top_column_img {
	padding-bottom: 28%;
	float: left;
	width: 40%;
	margin-right: 20px;
}
.top_column_ul > li a {
	display: block;
}
.top_column_ul > li a:hover p {
	text-decoration: underline;
}
.top_column_ul > li {
	margin-bottom: 20px;
}
.top_news_ul {
	margin-left: -20px;
	margin-right: -20px;
}
.top_news_ul > li {
	padding: 0px 20px;
}
.top_news_ul > li:first-child {
	border-right: 1px solid #325e35;
}
.top_news_ul > li:last-child {
	padding-left: 50px;
}

.top_qa_ul {
	margin-left: -10px;
	margin-right: -10px;
}
.top_qa_ul > li {
	padding: 0px 10px 0px;
}
.top_qa_txt {
	/*font-weight: bold;*/
	font-size: 1.125em;
	/*font-family: "筑紫B丸ゴシック";*/
	text-indent: -120px;
	padding: 10px 10px 10px 130px;
	margin-bottom: 20px;
}
.top_qa_txt_q {
	transition: all 0.3s;
}
.top_qa_txt_q:hover {
	background-color: #ccdfcc;
	border-radius: 5px;
	cursor: pointer;
}
.top_qa_txt:before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background-color: #ebc492;
	vertical-align: middle;
	margin-right: 20px;
}
.top_qa_txt_a {
	text-indent: 0;
	display: none;
	font-weight: normal;
	margin-top: -10px;
}
.top_qa_txt_a:before {
	display: none;
}

@media screen and (max-width: 1199px) {
	.top_qa_txt {
		text-indent: -65px;
		padding-left: 75px;
	}
	.top_qa_txt:before {
		content: "";
		display: inline-block;
		width: 50px;
		height: 1px;
		background-color: #ebc492;
		vertical-align: middle;
		margin-right: 15px;
	}
}

@media screen and (max-width: 991px) {
	.top_news_table th , .top_news_table td {
		padding: 0px 10px 20px;
		display: block;
		width: 100%;
	}
	.top_news_table th {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 767px) {
	.top_qa_txt {
		text-indent: -30px;
		padding-left: 40px;
		font-size: 1em;
	}
	.top_qa_txt:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 1px;
		background-color: #ebc492;
		vertical-align: middle;
		margin-right: 10px;
	}
	.top_news_title {
		width: 100%;
	}
}



.service_ul_img {
	padding-bottom: 67%;
}
.service_ul {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 30px;
}
.service_ul > li {
	padding: 0px 10px;
}
.service_title_jp {
	font-size: 1.4em;
	margin-bottom: 0px;
}
.service_title_outer {
	position: relative;
	padding-left: 20px;
	padding-top: 50px;
}
.service_title_outer:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #325e35;
	left: 0px;
	bottom: 0px;
}
.service_title_outer:after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 120%;
	height: 1px;
	background-color: #325e35;
	right: 0px;
	top: 30px;
}
.service_title_eng {
	font-size: 1.0em;
	margin-bottom: 0px;
	font-family: "RoGaramond";
	color: #78b17f;
}
.service_txt {
	padding: 20px;
}
.service_content {
	/*background-size: 54vw auto;*/
	background-size: auto 100%;
	background-position: 0px center;
	background-repeat: no-repeat;
}

.service_content_area {
	padding: 30px;
	background-color: #fff;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.service_content_title {
	font-size: 1.5em;
	color: #325e35;
	text-align: center;
	margin-bottom: 20px;
}
.service_content_ul {
	letter-spacing: -0.4em;
	width: 100%;
	max-width: 820px;
	margin: 0 auto;
}
.service_content_ul > li {
	letter-spacing: normal;
	display: inline-block;
	padding: 10px 25px;
	vertical-align: middle;
}
.service_content_ul > li::before {
	content: "●";
	display: inline-block;
	vertical-align: middle;
	color: #78b17f;
	font-size: 0.5em;
	margin-right: 10px;
}

.service_inspection_maintitle {
	font-size: 1.5em;
	color: #78b17f;
	border-bottom: 1px solid #325e35;
	text-align: center;
	width: 100%;
	max-width: 620px;
	margin: 0 auto 30px;
	padding-bottom: 10px;
}
.service_inspection_img {
	width: 100%;
	max-width: 120px;
	margin: 0 auto 20px;
}
.service_inspection_title {
	font-size: 1.125em;
	color: #325e35;
	text-align: center;
	margin-bottom: 20px;
}
.service_inspection_ul {
	margin-left: -15px;
	margin-right: -15px;
}
.service_inspection_ul > li {
	padding: 0px 15px;
	margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
	.service_inspection_img {
		max-width: 110px;
	}
	.service_inspection_ul {
		margin-left: -10px;
		margin-right: -10px;
	}
	.service_inspection_ul > li {
		padding: 0px 10px;
	}
	.service_content.top_greet_content {
		background-position: -160px center;
		background-size: auto 100%;
	}
}

@media screen and (max-width: 767px) {
	.service_content {
		background-image: none!important;
	}
	.top_feature_txtarea {
		padding: 15px 10px 20px;
	}
	.top_service_ul > li {
		padding: 15px;
	}
	.top_service_ul {
		margin: 0 auto;
		width: 100%;
		max-width: 360px;
	}
	.top_service_img_outer {
		border-top: 1px solid #c9c9c9;
		border-right: 1px solid #c9c9c9;
		border-left: 1px solid #c9c9c9;
	}
	.top_service_txtarea {
		border-bottom: 1px solid #c9c9c9;
		border-left: 1px solid #c9c9c9;
		border-right: 1px solid #c9c9c9;
	}
	.top_news_ul > li:last-child {
		padding-left: 20px;
	}
}

@media screen and (max-width: 767px) {
	.service_title_outer::before {
		height: 110%;
		left: 20px;
	}
	.service_title_outer::after {
		width: 100%;
		top: 15px;
	}
	.service_title_outer {
		padding-left: 40px;
		padding-top: 25px;
	}
	.service_content_title {
		font-size: 1.2em;
	}
	.service_content_area {
		padding: 30px 10px;
	}
	.service_content_ul > li {
		padding: 5px 15px;
	}
	.service_inspection_ul {
		margin-left: -10px;
		margin-right: -10px;
	}
	.service_inspection_ul > li {
		padding: 0px 10px;
		margin-bottom: 20px;
	}
	.service_inspection_img {
		max-width: 80px;
		margin: 0 auto 10px;
	}
	.service_inspection_title {
		margin-bottom: 10px;
	}
}


/* ABOUT */
.about_katagaki {
	font-size: 1.125em;
	color: #325e35;
}
.about_name {
	font-size: 1.8em;
	color: #325e35;
	margin-bottom: 20px;
}
.about_ul_title {
	font-size: 1.5em;
	color: #325e35;
	text-align: center;
	margin-bottom: 20px;
}
.about_ul > li {
	padding: 10px 50px;
}
.about_ul > li:first-child {
	border-right: 1px solid #78b17f;
}
.about_ul_txt {
	margin-bottom: 15px;
}
.about_ul_txt:before {
	content: "●";
	display: inline-block;
	vertical-align: middle;
	color: #78b17f;
	font-size: 0.5em;
	margin-right: 10px;
}
.about_ul_area {
	padding: 30px 0px;
	background-color: #fff;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.about_ul_area {
		padding: 0px 0px;
	}
	.about_ul {
		padding: 15px 25px 15px;
	}
	.about_ul > li:first-child {
		border-right: none;
		border-bottom: 1px solid #78b17f;
		margin-bottom: 20px;
	}
	.about_ul > li {
		padding: 10px 10px;
	}
}

/* ACCESS */
.access_table {
	width: 100%;
}
.access_table th , .access_table td {
	padding: 10px;
	vertical-align: top;
}
.access_table th {
	color: #325e35;
}
.access_maintitle {
	text-align: left;
}
.table-bordered.calendar {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
	color: #325e35;
}
.table-bordered.calendar th {
	text-align: center;
	font-weight: normal;
}
.table-bordered.calendar th , .table-bordered.calendar td {
	border: 1px solid #78b17f;
	text-align: center;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.access_maintitle {
		text-align: center;
	}
	.access_table th , .access_table td {
		width: 100%;
		display: block;
	}
	.access_table th {
		padding: 0px 10px;
	}
	.access_table td {
		padding: 0px 10px 10px;
	}
	.table-bordered.calendar th , .table-bordered.calendar td {
		padding: 5px;
	}
}
@media screen and (max-width: 344px) {
	.table-bordered.calendar th , .table-bordered.calendar td {
		padding: 4px;
	}
	.table-bordered.calendar td.time {
		font-size: 0.875em;
	}
}


/* Feature */
.service_content02 {
	background-position: 100% 0px;
}
.service_content02 .service_title_outer::after {
	width: 104%;
}
.feature_list_table th , .feature_list_table td {
	padding: 5px 10px;
	width: 50%;
}
.feature_list_table td {
	font-size: 0.875em;
}
.feature_list_table {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
.feature_list_name:before {
	content: "●";
	display: inline-block;
	vertical-align: middle;
	color: #78b17f;
	font-size: 0.5em;
	margin-right: 10px;
}
.feature_list_add {
	color: #757575;
}
.feature_list_add:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/map_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 10px;
	height: 16px;
	margin-left: 10px;
}
.feature_voice_img {
	padding-bottom: 220px;
	border-radius: 50%;
	width: 100%;
	max-width: 220px;
	margin: 0px auto 15px;
}
.feature_voice_title {
	font-size: 1.125em;
	text-align: center;
	margin-bottom: 15px;
	color: #325e35;
}
.feature_voice_ul {
	margin-left: -15px;
	margin-right: -15px;
}
.feature_voice_ul > li {
	padding: 10px 15px;
}


.feature_history_date {
	font-size: 1.6em;
	color: #78b47f;
	position: relative;
	margin-bottom: 30px;
	letter-spacing: 0.1em;
}
.feature_history_date span {
	display: inline-block;
	margin-left: 10px;
	color: #325e35;
	font-size: 0.56em;
}
.feature_history_ul {
	margin-bottom: 50px;
	position: relative;
}
.feature_history_ul:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 2px;
	height: 50px;
	background-color: #325e35;
}
.feature_history_ul:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	background-color: #325e35;
}
.feature_history_ul > li {
	padding: 20px 50px 20px 40px;
	position: relative;
}
.feature_history_ul > li:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 106%;
	height: 2px;
	background-color: #325e35;
}
.feature_history_ul > li:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: -7px;
	right: -9px;
	width: 16px;
	height: 16px;
	background-color: #78b47f;
	border-radius: 50%;
	z-index: 2;
}
.feature_history_ul > li:last-child:before {
	left: inherit;
	right: 0;
}
.feature_history_ul > li:last-child:after {
	right: inherit;
	left: -7px;
}
.feature_history_ul > li:last-child {
	margin-top: 50px;
}

.feature_content {
	min-height: 560px;
}

.about_ul_area_feature {
	padding: 30px;
}

.feature_history_img {
	width: 100%;
	max-width: 100px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.service_content.feature_content {
	/*background-size: 57vw auto;
	background-size: auto 100%;*/
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
	.feature_content {
		min-height: 480px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.service_txt {
		padding: 20px 20px 0px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.service_content.feature_content {
		background-position: -100px center;
	}
	.service_content.feature_content02 {
		background-position: 110% center;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.service_content.feature_content {
		background-position: -100px center;
	}
	.service_content.feature_content02 {
		background-position: 110% center;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.service_content {
		background-size: 62vw auto;
	}
	.feature_content {
		background-position: 0px 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 380px;
	}
	.feature_content.service_content02 {
		background-position: 100% 20px;
	}
	.feature_voice_img {
		padding-bottom: 160px;
		max-width: 160px;
	}
	.feature_voice_title {
		font-size: 1em;
	}
}

@media screen and (max-width: 991px) {
	.feature_history_ul > li {
		padding: 20px 30px 20px 20px;
	}
}

@media screen and (max-width: 767px) {
	.feature_content {
		min-height: auto;
	}
	.feature_history_ul:after {
		top: 0px;
		bottom: 0;
		left: 0px;
		width: 2px;
		height: 100%;
		background-color: #325e35;
	}
	.feature_history_ul::before {
		left: 0;
	}
	.feature_history_ul > li:after {
		right: inherit;
		left: -7px;
	}
	.feature_history_ul > li:before {
		right: 0;
		left: inherit;
	}
	.feature_service_ul {
		display: flex;
		flex-direction: column
	}
	.feature_service_ul > li:first-child {
		order: 2;
	}
	.feature_service_ul > li:last-child {
		order: 1;
	}
	.service_content02 .service_title_outer::after {
		width: 100%;
	}
	.about_ul_area_feature {
		padding: 10px;
	}
	.feature_list_table th , .feature_list_table td {
		padding: 5px 10px;
		width: 100%;
		display: block;
	}
	.feature_list_table th {
		padding-bottom: 0px!important;
	}
	.feature_list_name {
		margin-bottom: 0px;
	}
	.feature_list_add {
		padding-left: 17px;
	}
	.feature_history_date {
		font-size: 1.4em;
	}
	.feature_history_img {
		max-width: 100px;
		float: none;
		margin-bottom: 10px;
	}
}

/* Footer */
.f_area {
	background-color: #ccdfcc;
}
.top_feature_title {
	padding-left: 20px;
}
.f_area .top_feature_title::before {
	left: 0px;
}
.f_logo {
	display: inline-block;
	width: 100%;
	max-width: 150px;
	margin-bottom: 30px;
}
.f_tel {
	font-family: "RoGaramond";
	color: #78b57f;
	font-size: 2.4em;
}
.f_tel:before {
	content: "";
	display: inline-block;
	background-image: url('../img/f_tel.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 32px;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -10px;
}
.f_info_ul {
	margin-left: -5px;
	margin-right: -5px;
}
.f_info_ul > li {
	padding: 5px;
}
.f_area .top_feature_img_outer {
	overflow: hidden;
}
.f_area .top_feature_img {
	transition: all 0.3s;
}
.f_area a:hover {
	opacity: 1;
}
.f_area a:hover .top_feature_img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

@media screen and (max-width: 1199px) {
	.f_tel {
		font-size: 2.0em;
	}
}

@media screen and (max-width: 991px) {
	.f_area .top_feature_ul > li {
		padding: 0px 5px;
	}
	.f_area .top_feature_ul {
		margin-left: -5px;
		margin-right: -5px;
	}
	.f_area .top_feature_txtarea {
		padding: 15px 10px 20px;
	}
	.f_area .top_feature_title {
		padding-left: 10px;
		font-size: 1em;
	}
}

@media screen and (max-width: 767px) {
	.f_area .top_feature_ul {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
	}
}


.under_fv {
	padding-bottom: 22vw;
	background-repeat: no-repeat;
	background-size: 72vw auto;
	background-position: 100%;
	background-color: #cbdecb;
	position: relative;
}
.under_fv_txtarea {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5vw;
}
.under_fv_jp {
	font-size: 2.2vw;
	color: #325e35;
	margin-bottom: 0px;
	letter-spacing: 0.18em;
}

.under_fv_eng {
	font-size: 1.8vw;
	opacity: 0.3;
	color: #78b47f;
	font-family: "RoGaramond";
	margin-bottom: 0px;
}

.topFvBoxText {
	font-size: 3vw;
	text-align: left;
	color: #78b47f;
}
.main_imgBox {
	background-color: #ecebe4;
}

@media screen and (max-width: 767px) {
	.under_fv_jp {
		font-size: 1.2em;
	}
	.under_fv_eng {
		font-size: 1em;
	}
	.under_fv_txtarea {
		left: 15px;
	}
	.under_fv {
		padding-bottom: 26%;
		background-repeat: no-repeat;
		background-size: 80% auto;
		background-position: 100%;
		background-color: #cbdecb;
		position: relative;
	}
	.topFvBoxText {
		font-size: 1.0em;
		background-color: rgba(255,255,255,0.5);
		padding: 10px;
	}
}