/*
Theme Name: initializr
Theme URI: http://wordpress.local/
Author: Ottan
Author URI: http://wordpress.local/
Description: Version: 0.1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain:
*/



/*==================================================
 * リセットcss
 *================================================*/

/*改善点

・768pxまではPC（タブレットも含む）
・767pxからSP


追加ルール
/*==================
 ▼ブレイクポイントのルール▼
 -スマホを基本設計にする-
 *〜479px：SP縦
 *480px〜：SP横
 *600px〜タブレット
 *960px〜小型PC
 *1280px〜大型PC
==================

*/





@media screen and (min-width:768px){
}
@media screen and (max-width:767px){
}

@media screen and (min-width:768px) and (max-width:959px) {
}


/*==================================================
 * フォント
 *================================================*/


.italic{
	font-style: italic;
}

body{
	font-family:-apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif	
}
body{
	font-size:16px;
	line-height:1.4;
	letter-spacing:0.15em;
    color: #000;
}
h1, .h1, h2, .h2, h3, .h3,h4, .h4, h5, .h5, h6, .h6{
    margin-top: 0;
    margin-bottom: 0;
	font-weight: 300;
	line-height:1.7;
}

h1,h2,h3,h4,h5,h6,h7,p,span,div{
    line-height: 1.7;
	font-weight: 300;
}

.lh_l{
	line-height: 1.7;
}


.serif{
	font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

a{
	color:inherit;
}
.bold{
	font-weight:bold;
}
.thin{
	font-weight:100;
}
.nowrap{
	white-space:nowrap;
}

.white{
	color:#fff;
}
.gray{
	color:#606060;
}

.red{
	color:#ff4501 !important;
}

.h00{
	font-size:64px;
}
.h0{
	font-size:42px;
}

.h1{
	font-size:35px;
}
.h2{
	font-size:28px;
}
.h3{
	font-size: 24px;
}
.h4{
	font-size:18px;
}
.h5{
	font-size:16px;
}
.text_m{
	font-size:14px;
}
.text_sm{
	font-size:13px;
}
.text_s{
	font-size:12px;
}
.text_ss{
	font-size: 10px;
}


@media screen and (min-width:768px){
}



@media screen and (max-width:767px){
	body{
		font-size:14px;
	}
	
	.h0{
		font-size:24px;
	}
	.h1{
		font-size:22px;
	}
	.h2{
		font-size:20px;
	}
	.h3{
		font-size:17px;
	}
	.h4{
		font-size:15px;
	}
	.h5{
		font-size:15px;
	}
	.text_m{
		font-size:13px;
	}
	.text_s{
		font-size:11px;
	}
}

/*例外*/
@media screen and (min-width:768px) and (max-width:959px){
	.nav.navbar-nav.h4{
		font-size:14px;
	}
	.h0{
		font-size:25px;
	}
	
}

	

/*==================================================
 * 共通（どのサイトでも）
 *================================================*/


/*リセット関係*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}


a:hover{
	opacity: 0.8;
	transition:0.3s;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 100;
}

ul{
	padding:0;
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
hr{
    margin: 10px auto;
}

a:hover{
    text-decoration: none;
    color: inherit;
}


@media screen and (min-width:768px){
	.container {
		width: 100%;
		max-width:1170px;
	}
}

@media screen and (min-width:768px){

}
@media screen and (max-width:767px){
	/*
	.container {
		padding-right: 5px;
		padding-left: 5px;
	}
	*/
}


/*独自クラス*/

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.remove {
    text-indent: -9999px;
	overflow: hidden;
    display: block;
	background-repeat: no-repeat;
    background-size: contain;
	background-position:center center;
	height:0;
}


.w100{
	width: 100%;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.relapadding{
	padding-right:80px;	
}

.inline{
	display: inline;
}
.block{
	display:block;
}
.inlineBlock{
	display:inline-block;
}

.LiInlineBlock li{
	display:inline-block;
}

.dis_none{
	display:none !important;
}

.bgCenter{
	background-position: center center;
	background-size:cover ;
}

.shadow{
	/* box-shadow */
	-webkit-box-shadow: 0px 5px 80px -25px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 80px -25px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 80px -25px rgba(0,0,0,0.5);
}


.mushimegane {
    background-image: url(img/mushimegane.png);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-size: contain;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.bgup {
    transition: 1s;
    background-size: 100%;
	opacity:1;
}
a:hover .bgup{
    transition: 1s;
    background-size: 120%;
	opacity:0.8;
}
.opa{
    transition: 0.3s;
	opacity:1;
}
a:hover .opa{
    transition: 0.3s;
	opacity:0.7;
}

.tra,.tra:hover{
	transition:0.3s;
}

.img-center{
	margin:0 auto;
	width:100%;
}




@media screen and (min-width:768px){
	.sp{
		display: none !important;
	}
	.container-fluid {
		padding: 0;
	}
	
	
}
@media screen and (max-width:767px){
	.pc{
		display: none !important;
	}
}



/*余白*/

html,body{
	width: 100%;
	overflow-x: hidden;
}

ul{
	padding:0;
    list-style-type: none;
    margin: 0;
}



.m0{
	margin:0;
}
.p0{
	padding:0;
}
.mb0{
	margin-bottom:0 !important;
}

.mb10{
	margin-bottom:10px !important;
}
.mb20{
	margin-bottom:20px !important;
}
.mb30{
	margin-bottom:30px !important;
}
.mb50{
	margin-bottom:50px !important;
}
.mb80{
	margin-bottom: 80px !important;
}
.mb100{
	margin-bottom: 100px;
}
.mb200{
	margin-bottom: 200px;
}





@media screen and (min-width:768px){



}
@media screen and (max-width:767px){
	
	.mb10{
		margin-bottom:10px;
	}
	.mb20{
		margin-bottom:20px;
	}
	.mb30{
		margin-bottom:20px;
	}
	.mb50{
		margin-bottom:30px;
	}
	.mb80{
		margin-bottom: 40px;
	}
	.mb100{
		margin-bottom: 50px;
	}
	.mb200{
		margin-bottom: 50px;
	}

}

/*flexbox*/

.flex{
	display: flex;
}
.justCenter{
	justify-content:center;
}
.justEnd{
	justify-content: flex-end;
}
.justBetween{
	justify-content:space-between
}
.alignCenter{
	align-items:center;
}
.alignStart{
	align-items:flex-start;
}

.flexSplit{
	width:50%;
}

.flexS60{
	width:60%;
}
.flexS40{
	width:40%;
}


.width720{
    max-width: 720px;
    margin: 0 auto;
}
.width980{
    max-width: 980px;
    margin: 0 auto;
}



/*背景系*/

.padding{
    padding: 5vw 0;
}
.paddingW{
    padding: 10vw 0;
}

.margin{
    margin: 5vw 0;
}
.marginW{
    margin: 10vw 0;
}


.bgImg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bgImgFix{
    background-attachment: fixed;
}

.bgImgCircle{
	border-radius:50%;
	padding-bottom:100%;
}

.bgBlur {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.bgBlur:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.bgWhite {
    background-color: #ffffff;

}

@media screen and (max-width:767px){
	.button, button {
		padding: 3% 3%;
	}
	.margin{
		margin: 15vw 0;
	}
	
	.padding {
		padding: 15vw 0;
	}	
	
	.flexSplit{
		width: 100%;
	}
	
	.flexS60{
		width:100%;
	}
	.flexS40{
		width:100%;
	}
	
	.flexPc{
		display:block;
	}
	.flexWrapSp{
		flex-wrap:wrap;
	}
	.bgImgFix {
		background-attachment: unset;
	}	




}

/*==================================================
 * 共通（このサイトだけ）
 *================================================*/


body {
    background: #f9f9f9;
}


.fontEn {
	font-family: 'EB Garamond', serif;
}

.fontEnNormal {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.titleLine {
    background: linear-gradient(transparent 60%, #f4d862 0%);
    display: inline-block;
}

.titleLineWhite{
    background: linear-gradient(transparent 60%, #fff 0%);
    display: inline-block;
}


.titleBd{
    border-bottom: 1px solid #deba29;
    padding-bottom: 1rem;
}
.titleBdWhite{
    border-bottom: 3px solid #fff;
}


.fontNum{
	font-family: 'Roboto', sans-serif;
}

.fontEnSerif{
	font-family: "BellMTPro-Italic";

}

.fontEnBrush{
	font-family: 'Kaushan Script', cursive;
}

.mincho {font-family: "Sawarabi Mincho", serif; }

.maruGo{
	font-family: "FOT-筑紫B丸ゴシック Std B";
}

.bgMainColor{
    background-color: #325e35;
}


.bgSubColor{
    background-color: #f4d862;
}

.bgGrad{

/*グラデーション*/	
background: rgba(79,197,68,1);
background: -moz-linear-gradient(left, rgba(79,197,68,1) 0%, rgba(151,237,145,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(79,197,68,1)), color-stop(100%, rgba(151,237,145,1)));
background: -webkit-linear-gradient(left, rgba(79,197,68,1) 0%, rgba(151,237,145,1) 100%);
background: -o-linear-gradient(left, rgba(79,197,68,1) 0%, rgba(151,237,145,1) 100%);
background: -ms-linear-gradient(left, rgba(79,197,68,1) 0%, rgba(151,237,145,1) 100%);
background: linear-gradient(to right, rgba(79,197,68,1) 0%, rgba(151,237,145,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc544', endColorstr='#97ed91', GradientType=1 );
/*グラデーション終わり*/	

}
.mainColor{
	color:#325e35;
}
.subColor{
	color:#909090;
}
.grayColor{
	color:#696969;
}

.button, button {
    padding: 1.5rem 3rem;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px #deba29 inset;
}

.buttonBgWhite{
    border: 2px solid #fff;
    background: #fff;
}
.buttonBgYellow{
    background-color: #e5bc10;
}

.button:hover {
    background: #deba29;
    color: #fff;
    opacity: 1;
	 box-shadow: 0 0 0 1px #deba29 inset;
	
}

.buttonBgWhite:hover {
    background: #206885;
    color: #fff;
    opacity: 1;
    border: 2px solid #fff;
}

.buttonBgYellow:hover {
    background-color: #fff !important;
    color: #f2d420;
	box-shadow: 0 0 0 2px #fff inset;
}



.splitTnner{
	padding:5vw;
}


.shadowBox{
	margin-bottom: 2vw;
	z-index:0;
}
.shadowBoxShadow{
    width: 100%;
    height: 100%;
    top: 2vw;
    z-index: -1;
    left: 2vw;
}


.w600 {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}


.hoverUp:hover {
    top: -10px;
}

.hoverUp {
    top: 0;
	position:relative;
}

.ml0{
	margin-left: 0;
}

@media screen and (min-width:768px){

}
@media screen and (max-width:767px){


}

@media screen and (max-width:414px){
}

@media screen and (max-width:320px){
}



/*==================================================
 * header
 *================================================*/



header .logo {
    width: 170px;
    height: 37px;
    z-index: 1;
    background-image: url(./img/logo.png);
    margin-top: 3px;
	margin-right:auto;
}


.home header .logo {
}


header .logo a{
	display: block;

}

.headerText{
}
.home .headerText{
}

header {
    width: 100%;
}

.headerMenu {
    margin-top: 10px;
}
.menu-item {
}
.menu-item a {
    margin-right: 3rem;
    display: block;
    margin-top: 15px;
	font-size:14px;
}

.home .menu-item a {
}


.menu-item a:hover {
    color: #325e35;
    opacity: 1;
}

.menu-item span {
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
}
.headerLeft{
    margin-right: auto;
}

.contactBannerEpark{
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 10;
    max-width: 120px;
}    

@media screen and (min-width:768px){
	header {
		margin-bottom: 4px;
	}
	
	/*お問い合わせhover*/
	.contactSideWap {
		border: 1px solid #325e35;
		display: block;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		position: fixed;
		right: 50px;
		bottom: 150px;
		background: rgba(255, 255, 255, 0.8);
		padding-top: 20px;
		z-index: 10;
	}
	
	.contactSideWap .titleBd {
		border-bottom: 2px solid #325e35;
		max-width: 50px;
		margin: 0 auto;
		margin-bottom: 3px;
		padding-bottom: 3px;
	}
	
}

@media screen and (min-width:992px) and (max-width:1199px){

	.menu-item a {
		margin-right: 15px;
		font-size: 14px;
	}
	
}
@media screen and (min-width:768px) and (max-width:991px){
	
	.menu-item a {
		margin-right: 10px;
		font-size: 10px;
	}
	.pageHeaderText {
		padding: 10vh 0;
		width: 40%;
	}
	
}

@media screen and (max-width:767px){

	header .logo {
		width: 100px;
		height: 38px;
	}
	
	.menu-item a {
		margin-right: 0;
	}
    
    .contactBannerEpark {
        bottom: 50px;
        right: 10px;
        max-width: 90px;
    }    

}

/*------------モーダルウィンドウ------------*/
.menu-btn {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 40px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn span {
    color: #fff;
}

.menu-btn span:after {
    content: attr(data-txt-menu);
}

/* 開閉用ボタンがクリックされた時のスタイル */
.open .menu-btn span:after {
    content: attr(data-txt-close);
}

/*---------モーダルウィンドウのcss---------*/
.menu {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
	z-index:1000 !important;
}

.menu ul {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    display: block;
    margin: 10% 0;
}
.menu li {
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
}

.menu li a {
    display: block;
    font-size: 18px;
    color: #fff;
}

.menu li a:hover {
    color: #999;
}

/* 開閉用ボタンがクリックされた時のスタイル */
.open .menu {
    cursor: url(../images/cross.svg),auto;
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
	z-index: 1;
}

/*ハンバーガーメニュー*/
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 40px;
  height: 29px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 7px;
}
.menu-trigger span:nth-of-type(3) {
  top: 14px;
}
/*
.menu-trigger:not(.active):hover span:nth-of-type(1) {
  top: 3px;
}
.menu-trigger:not(.active):hover span:nth-of-type(3) {
  bottom: 3px;
  
}
*/
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}


@media screen and (max-width:767px){
	/*------------モーダルウィンドウ------------*/
	.menu-btn {
		top: 17px;
		right: 10px;
		width: 30px;
		height: 20px;
		z-index:100;
	}
	.menu-trigger {
		width: 30px;
		height: 20px;
	}
	.menu-trigger span:nth-of-type(2) {
		top: 7px;
	}
	.menu-trigger span {
		height: 2px;
	}
	.headerHunbergerText {
		font-size: 8px;
		color: #333 !important;
		bottom: 2px !important;
		text-align: center;
		left: 0 !important;
	}
	
	.menu-trigger span:nth-of-type(4) {
		background: none !important;
	}	
		.fixTelText {
		margin-bottom: -10px;
		margin-top: 5px;
	}
}



/*==================================================
 * footer
 *================================================*/

footer .logo {
    width: 200px;
    height: 40px;
	z-index: 1;
    background-image: url(./img/logo.png);
    margin: 0 auto;
}
footer {
    padding-top: 5%;
    background-image: url(./img/contact_bg.jpg);
}
.headerTel {
    color: #ff8000;
}
.footerTel{
	color:#333;
}

.footerInfoUl{
    padding: 3% 5%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.footerInfo p{
	margin-bottom:5px;
}
.footerNavUl li {
    margin-bottom: 10px;
}

.footerCol {
    border-left: dotted 1px #e6a362;
    padding: 2em;
}
.footerNav{
    border-right: dotted 1px #e6a362;
}

.footerNav li i{
    margin-right: 2%;
}
.footerInfo i {
    margin-right: 2%;
}

.footerMenuBox {
    width: 100%;
    background-size: 100%;
    background-position: center center;
}

.footerMenuBox {
    margin: 1vw 0.5vw;
}
.footerMenu{
	/*overflow-x:hidden;*/
}

.footerMenuBoxText {
    padding: 3vw 0;
    display: block;
}
.footerMenuBoxText p{
    border-bottom: 1px solid #fff;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.footerMenuBoxText:hover{
	opacity:1;
}

.footerMenuBox:hover {
    background-size: 120%;
}

.footerMenuBox.footerMenuBox50:hover{
    background-size: 110%;
}

.footerMenuBox50 .footerMenuBoxText {
    padding: 6vw 0;
}

.bgBlack {
    background: rgba(31, 90, 178, 0.3);
}
.bgBlack:hover {
    background: transparent;
}


.footerContactUl li {
    margin: 0 3%;
}

.footerCont{
}


.footerContactBox {
    padding: 4% 10%;
}

.footerTelButton{
    padding: 0.5rem 3rem;
    display: inline-block;
}


ul.footerContactUl, ol{
  padding: 0;
}

ul.footerContactUl li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  margin-bottom: 0.5rem;
}

ul.footerContactUl li:before{ /*疑似要素*/
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    margin-right: 1rem;
}

@media screen and (min-width:768px){

}
@media screen and (max-width:767px){
	footer .logo {
		margin-bottom: 0;
	}
	.footerCol {
		padding: 1em 0;
		border-left: none;
	}
	.footerMenu .flex {
		display: block;
	}
	
	
	.footerTelSp {
		position: fixed;
		width: 100%;
		bottom: 0;
		/*background: #206885;*/
		padding:1% 2% 0 2%;
		z-index:100;
	}
		
	li.footerTelSpLi2 {
		background: #fff;
		/*color: #206885;*/
		padding: 2% 3%;
		font-weight: bold;
		width: 37%;
		text-align: center;
	}
	.footerTelSpLi1Tel{
		margin-top: -3%;
	}
	.footerTelSpLi1 {
		width: 60%;
	}
	.footerTelSp li{
		vertical-align:middle;
	}
	.footerContactUl li {
		margin-bottom: 5%;
	}
	
	.footerMenuBox {
		margin: 0;
		margin-bottom: 3vw;
	}	
	
}


/*==================================================
 * トップページ
 *================================================*/

/* スライドショー*/
.topFv{
	/*z-index: -1;*/
}

.topFvBoxWrap{
    width: 80%;
	position: absolute;
	top: 32%;
	left: 4vw;
}

.main_imgBox {
      height: 46vw;
    overflow: hidden;
    position: relative;
	z-index:-1;
}

.main_img {
	z-index: 10;
	opacity: 0;
	width: 80vw;
	height: 39vw;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-animation: anime 18s 0s infinite;
	animation: anime 18s 0s infinite;
}


 .main_img:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }

    .main_img:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }
	  /*
    .main_img:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; }
    .main_img:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

    .main_img:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }
*/

@keyframes anime {
  0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        transform: scale(1.1) ;
         z-index:9;
    }
    100% { opacity: 0 }
}

.topFvText{
    left: 7vw;
    top: 8vw;
    width: 30%;
}
.topFvTextEn{
    bottom: 5vw;
    width: 70%;
    left: 7vw;
}

@media screen and (max-width:767px){
	.topFvBoxWrap{
		width: 100%;
		top: 30%;
	}
	.main_imgBox {
		  height: 52vw;
	}
	
	  .main_img {
		height: 44vw;
	  }
	.topFvBoxWrap {
		width: 90%;
	}
	
	.topFvText {
		left: 2vw;
		top: 30vw;
		width: 60%;
	}
	
	.topFvTextEn {
		bottom: 15vw;
		width: 90%;
		left: 1vw;
	}

}

/* スライドショーここまで*/

.bigTitleLH{
    line-height: 0.3;
    margin-top: 5rem;
}

.topAboutBox {
    padding: 5%;
}

.topServiceBox {
    border: 1px solid #e5e5e5;
    border-right: none;
	width: 100%;
	overflow:hidden;
}

.topServiceBox:last-child {
    border-right: 1px solid #e5e5e5;
}

.topServiceBoxImg {
    padding-bottom: 69%;
    background-size: 100%;
}

.topServiceBox:hover .topServiceBoxImg {
    background-size: 120%;
}

.topServiceBoxText {
    padding: 7% 10%;
    background: rgba(245, 218, 87, 0);
}

.topServiceBox:hover .topServiceBoxText {
    background: rgba(245, 218, 87, 0.3);
}
.topServiceBoxTextAb {
    bottom: 0;
    line-height: 0.7;
    opacity: 0.2;
    left: 0;
}

.topRecruitBox {
    padding: 4%;
}


.topStaffImg {
    padding-bottom: 41%;
}


.topNewsUlBox {
    padding: 3% 5%;
    border-bottom: 1px solid #e8e8e8;
    background: rgb(255, 255, 255);
}

.topNewsUlBox:hover {
    background: rgba(245, 218, 87, 0.3);
}


.topNewsCate{
    margin-left: 3%;
    color: #9e9e9e;
}

.topNewsUlBox {
}



/*Q&Aここから*/
.topQaBoxUl li:nth-child(2) hr{
    border-top: 1px solid #f1ca98;
}
.topQaBoxUl li {
    display: inline-block;
    vertical-align: middle;
}
.topQaBoxDl {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
}

.topQaBoxDl dd {
    display: none;
}
.topQaBoxDl dt {
    font-weight: normal;
}
.topQaBoxDl dt:hover {
    background: rgba(242, 203, 149, 0.3);
    border-radius: 5px;
	cursor:pointer;
}
.topQaBoxUl li:nth-child(3) {
    width: 79%;
}

.topQaBoxUl li:nth-child(1) {
    margin-right: 2%;
}
.topQaBoxUl li:nth-child(2) {
    width: 8%;
    margin-right: 2%;
}
/*Q&Aここまで*/


@media screen and (max-width:767px){
	/*Q&Aのスマホここから*/
	.topQaBoxDl {
		width: 100%;
	}
	/*Q&Aのスマホここまで*/

	.footerLink .topServiceBox {
		width: 50%;
	}	
	
}
/*==================================================
 * 下層ページ
 *================================================*/

/*共通部分------------------------------------*/
/*パンくず*/

strong.current {
    font-weight: normal;
}
div#pankuzu {
    font-size: 14px;
    color: #1d5b39;
    font-weight: bold;
    margin: 1vw 0;
}
/*
.sectionPankuzu {
    background: #eaeaea;
}
*/

.home .sectionPankuzu{
	display: none;
}

/*パンくず終わり*/

.pageFvImg {
    padding-bottom: 25%;
}

.pageFvBoxWrap {
    background: #fff;
    width: 80%;
    padding: 3vw 5vw;
    margin: 0 auto;
    margin-top: -3vw;
}

@media screen and (max-width:767px){

}



@media screen and (min-width:768px) and (max-width:959px) {
}




/*about-us------------------------------------*/

.paddingInner{
	padding-left: 5vw;
	padding-right: 5vw;
}

@media screen and (min-width:768px){

}



@media screen and (max-width:767px){

}

/*残す--ここから*/

.pageAboutCompanyUl li {
    display: inline-block;
	vertical-align:top;
}
.pageAboutCompanyUl ul {
    border-bottom: 1px solid #d4d4d4;
    padding: 3% 3%;
}

.pageAboutCompanyUl li:nth-child(1) {
    font-weight: bold;
	width:100%;
}
.pageAboutCompanyUl li:nth-child(2) {
	font-size:14px;
	width:100%;
}

.fa-map-marker{
    color: #d9534f;
    font-size: 20px;
    margin-left: 1%;
}
@media screen and (min-width:768px){
	.pageAboutCompanyUl li:nth-child(1) {
		width: 30%;
	}
	.pageAboutCompanyUl li:nth-child(2) {
		width: 68%;
	}
}

@media screen and (max-width:767px){
	.pageAboutCompanyUl ul {
		padding: 4% 3%;
	}
	.pageCommonRecommendBox ul {
		width: 100%;
	}

}

/*残す--ここまで*/


/*サービス------------------------------------*/
.pageServiceIcoImg {
    max-width: 113px;
}




.pageCommonRecommendBox {
    padding: 4% 5%;
    background: #fff;
    width: 100%;
    border: 1px solid #deba29;
}
.pageCommonRecommendBox li > i {
    color: #deba29;
    font-size: 30px;
    margin-right: 1.5%;
    vertical-align: middle;
    display: inline-block;
    width: 5%;
}
.pageCommonRecommendBox li span {
    display: inline-block;
    width: 88%;
    vertical-align: middle;
}
.pageCommonRecommendBox ul {
    margin: 0 auto;
}
.pageCommonRecommendBox li {
    width: 100%;
    margin-bottom: 2%;
}
@media screen and (max-width:767px){
	.pageCommonRecommendBox li > i {
		margin-right: 3.5%;
		width: 11%;
	}
	.pageCommonRecommendBox li span {
		width: 80%;
	}
	.pageCommonRecommendBox li {
		margin-bottom: 6%;
	}
}

/*スタッフ紹介------------------------------------*/
.staffRoleText{
    margin-left: 4%;
}

/*採用情報------------------------------------*/





/*実績一覧------------------------------------*/



@media screen and (max-width:767px){

}

/*実績詳細------------------------------------*/



/*プラン詳細------------------------------------*/



/*採用情報------------------------------------*/

@media screen and (max-width:767px){
}

@media screen and (min-width:768px) and (max-width:999px){

}

/*採用情報------------------------------------*/


/*お問い合わせページ------------------------------------*/




.contactForm{
	max-width:600px;
	width:100%;
	margin:0 auto;
}
.contactForm input,.contactForm textarea{
	width: 100%;
}.contactForm input[type="checkbox"] {
    width: auto;
}


.mw_wp_form button {
    max-width: 70%;
    color: #fff;
    /*border-bottom: 3px solid #39b49d !important;*/
    margin-top: 5%;
    border-radius: 0;
    background: #deba29;
}





@media screen and (max-width: 767px) {


	.contactForm {
	}

	.contInCont {
		margin: 0 auto;
	}

}


.cform th {
	font-size: 14px;
	width: 35%; /*変なところで改行される場合はここの数字を変更します。*/
	border-bottom: solid 1px #d6d6d6;
	padding: 10px 0 10px 15px;
	font-weight: normal;
}

.cform td {
	font-size: 14px;
	line-height: 150%;
	border-bottom: solid 1px #d6d6d6;
	padding: 10px 5px;
}

.cform {
	width: 100%;
	margin: auto;
}

.cform [type=submit] {
	display: inline-block;
	font-size: 20px;
	padding: 10px 30px;
	text-decoration: none;
	background: #ff8f00;
	color: #FFF;
	border-bottom: solid 4px #B17C00;
	border-radius: 3px;
}

.cform option,
.cform textarea,
.cform input[type=text],
.cform input[type=email],
.cform input[type=search],
.cform input[type=url] {
	width: 100%;
}

.required-srt {
	font-size: 8pt;
	padding: 1px 5px;
	background: #ce0000;
	color: #fff;
	border-radius: 3px;
	margin-left: 10px;
	vertical-align: middle;
    display: inline-block;
}

.mw_wp_form .horizontal-item + .horizontal-item {
    margin-left: 0 !important;
}


.contactFormPrivacyAlertBox {
    border: 2px solid #333;
    padding: 5%;
}


@media only screen and (max-width:767px) {
	.cform th,
	.cform td {
		width: 100%;
		display: block;
		border-top: none;
	}
}

.submit-btn input {
	background: #00142c;
	width: 60%;
	max-width: 550px;
	min-width: 220px;
	margin: 30px auto;
	display: block;
	border: 1px #00142c solid;
	text-align: center;
	padding: 5px;
	color: #fff;
	transition: all 0.4s ease;
}

.submit-btn input:hover {
	background: #fff;
	color: #00142c;
}

/*下層ページ共通------------------------------------*/
/*下層ページ共通------------------------------------*/


/*投稿ページ------------------------------------*/

figure.pageNewsImg {
    height: 0;
    padding-bottom: 70%;
}

.excerpt{
    color: #4c4c4c;
}
.pageNewsArticle{
    padding: 5%;
    border-bottom: 1px solid #f1f1f1;
}
.pageNewsArticleTitle{
    margin-bottom: 3%;
	color:#333;
}
.pageNewsArticle:hover {
    background-color: #fff9e1;
}

.pageNewsCate .cate{
	margin-right: 10px;
}
li.widget {
    list-style-type: none;
    margin-bottom: 20%;
}
.widgettitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3%;
}

li.widget li{
    color: #5f5f5f;
    margin-bottom: 3%;
}
.tagcloud a {
    color: #808080;
    border: 1px solid #808080;
    border-radius: 25px;
    padding: 2%;
    margin-bottom: 5%;
    display: inline-block;
}

/*投稿ページ*/

.singleArticle {
    padding: 5%;
    border: 1px solid #e4e4e4;
}


.blur__bg{
  background: no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.blur__bg:before{
  content: "";
  display: block;
  position: absolute;
  background: inherit;
  filter: blur(5px);
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
}

.singleFvText {
    border: none;
}

.singleFvLi:before, .singleFvLi:after {
    content: "";
    display: block;
    height: 1px;
    width: 30.5%;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    top: 45%;
    margin-top: -.5px;
    right: 0;
}
.singleFvLi:before {
    left: 0;
}
.singleFvCate{
    background: rgba(204, 102, 153, 0.81);
    padding: 1%;
}


/*

blockquote {
    background-color: #f3f3f3;
    padding: 1em 1em 1em 3em;
    position: relative;
    font-size: 14px;
    border-left: none;
}
blockquote:before {
    content: "“";
    font-size: 600%;
    line-height: 1em;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    color: #bfbfbf;
    position: absolute;
    left: 0;
    top: 0;
}

*/

blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: 5px solid #e6e6e6;
    color: #464646;
    font-size: 14px;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
    vertical-align: middle;
    content: "\f10d";
    font-family: FontAwesome;
    color: #77c0c9;
    font-size: 25px;
    line-height: 1;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.entry strong {
    /* background: #c3b8b1; */
    olor: #fff;
    padding: 0.5%;
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(transparent 60%, rgba(119, 181, 127, 0.3) 40%);
}
.entry a {
    color: #CC6699;
    text-decoration: none;
    border-bottom: 1px solid #f2c9d8;
    padding-bottom: 2px;
	font-weight:bold;
}

.entry a.white {
    color: #fff;
}

.entry {
    line-height: 1.8;
    letter-spacing: 0.06em;
    float: none;
    max-width: 870px;
    margin: 0 auto;
}
.entry p{
	margin: 2% 0 5% 0;
}

/*
.entry h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 10%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 2% 1%;
}
*/

.entry h2 {
    border-left: 8px solid #ff8001;
    padding-left: 0.4em;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.entry h3 {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.3;
    text-align: left;
    margin: 8% auto 3%;
    font-weight: bold;
    /* border-top: 2px solid #ff8001; */
    padding: 1%;
    border-bottom: 4px solid #77b57f;
}

.entry h4, .toc_title {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.3;
    text-align: left;
    margin: 8% auto 3%;
    font-weight: bold;
    color: #39b49d;
}
ul.toc_list {
    border: none !important;
}
/*
.entry h4:after, .toc_title:after {
    background: #fd3b3b;
    border-radius: 5px;
    content: ' ';
    display: block;
    height: 2px;
    margin: 2% auto auto 0;
    width: 100%;
}
*/
.entry h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.entry li {
    list-style-type: disc;
    margin-left: 3%;
    line-height: 2;
	font-weight:normal;
	margin-bottom: 3%;	
}
.entry ul {
    margin-bottom: 2%;
}

.entry_cont ul {
    background: #ffefef;
    border: 1px solid rgba(204, 102, 153, 0.2);
    padding: 2% 4%;
}

@media screen and (max-width:767px){
	.entry p{
		margin: 2% 0 10% 0;
	}
	.entry h2 {
		font-size: 18px;
		border-left:5px solid #ff8001;
	}	
	
	
}
/*目次*/

.toc_number {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    line-height: 1;
    color: #cacaca;
    font-weight: normal;
}

#toc_container {
    background: none !important;
    border: none !important;
    margin: 0 auto;
}
/*記事詳細*/

.wp-caption {
    max-width: 100% !important;
    padding: 2%;
    margin: auto auto 3% auto;
}


.wp-caption-text {
    background: rgba(195, 184, 177, 0.67);
    width: 100%;
    text-align: left;
    padding: 1% 3%;
    word-wrap: break-word;
    font-size: 10px;
    color: white !important;
    position: relative !important;
    z-index: 1;
    top: -35px;
    display: block;
    left: 5%;
}
.wp-caption-text a{
	color:white;
}

/*table*/
.entry table th, .entry table td {
    padding: 1%;
    font-size: 14px;
    text-align: center;
    border: 1px solid #b9b9b9;
}

.entry table thead th {
    background: #ffe4a1;
}

.entry table th {
    background: #efefef;
}

.entry table {
}

.tableScroll table{
min-width:768px;
}
.tableScroll{
overflow: auto;　　　　/*tableをスクロールさせる*/
white-space: nowrap;　　/*tableのセル内にある文字の折り返しを禁止*/
}
.tableScroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
 height: 5px;
}
.tableScroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
 background: #F1F1F1;
}
.tableScroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
 background: #BCBCBC;
}


@media screen and (max-width:767px){
	.wp-caption-text {
		background: hsla(330, 50%, 60%, 0.48);
		width: 100%;
		text-align: left;
		padding: 1% 3%;
		word-wrap: break-word;
		font-size: 10px;
		color: white !important;
		position: relative !important;
		z-index: 1;
		top: -50px;
		display: block;
		left: 5%;
	}
	
	.entry table th, .entry table td {
		font-size: 12px;
	}
		
}

.entry img {
    margin: 2% auto 5%;
}


/*よく読まれる記事*/
.single__bgMost {
    background-image: url(./img/bg_mostpost.jpg);
    background-size: cover;
    background-position: center center;
}
/*リンクカードプラグイン*/
.lkc-external-wrap ,.lkc-internal-wrap {
    box-shadow: none !important;
	border:1px solid #d8d8d8 !important;
	line-height:1.4 !important;
}
.lkc-thumbnail-img {
    border: 1px solid #d4d4d4 !important;
    box-shadow: none !important;
}

.lkc-content {
    overflow: auto !important;
    height: inherit !important;
}

.lkc-domain {
    color: #bbbbbb;
}

.lkc-sns-fb {
    padding: 1%;
}

.lkc-title {
}

.entry .lkc-url{
	display: none;
}

.entry .lkc-excerpt {
    font-size: 14px ;
    line-height: 1.8 ;
    font-weight: normal;
	color:#7e7e7e;
}

.entry .lkc-title {
    color: #CC6699;
    font-size: 18px;
    line-height: 1.8;
}


.entry .lkc-card {
    margin: 3%;
}

.entry .lkc-thumbnail {
    margin-right: 3%;
}

@media screen and (max-width:767px){
	.entry .lkc-title {
		font-size: 14px;
	}
	.entry .lkc-excerpt {
		font-size: 12px ;
	}
}

/*コメント*/

div#respond textarea, div#respond input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 10px;
}

#respond input#submit {
    background: #0a0a0a;
    color: #fff;
    border-radius: 0;
    font-size: 12px;
    transition: 0.3s;
}
#respond input#submit:hover {
    background: #CC6699;
    transition: 0.3s;
}
/*カエレバリンク*/

/* カエレバ用CSSサンプル */

.entry .kaerebalink-box p {
    margin: 0;
}
.entry .kaerebalink-box img {
    margin: 0 auto;
}
.kaerebalink-box, .booklink-box, .pochireba {
    background: none;
    margin: 1em 0;
    padding: 4%;
    min-height: 160px;
    border: 1px rgba(204, 102, 153, 0.2) solid;
    border-radius: 0;
    -webkit-box-shadow: 0 0 25px #f1f1f1 inset;
    -moz-box-shadow: 0 0 25px #ddd inset;
    -o-box-shadow: 0 0 25px #f1f1f1 inset;
    box-shadow: none;
}
.kaerebalink-image,
.booklink-image,
.pochireba img{
width:30%;
float:left;
margin:0 1em 0 0;
text-align: center;
}
.kaerebalink-name a,
.booklink-name a,
.pochi_name a{
font-weight:bold;
font-size:1.2em;
line-height: 1.6;
}
.pochi_name a{
margin-bottom: 0.8em;
display: block;
}
.kaerebalink-powered-date,
.kaerebalink-detail,
.booklink-powered-date,
.booklink-detail,
.pochi_seller,
.pochi_time,
.pochi_post{
font-size:0.6em;
}
.kaerebalink-link1,
.booklink-link2{
margin-top:0.5em;
}
.kaerebalink-link1 div,
.booklink-link2 div{
display: inline-block!important;
font-size:0.8em!important;
margin-right:5% !important;
}
.kaerebalink-link1 div a,
.kaerebalink-link1 div a, .booklink-link2 div a {

    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    background: #fff;
    color: #333;
    border: 1px #777 solid;
        border-bottom-color: rgb(119, 119, 119);
    border-radius: 0.1em;
    padding: 0.4em 0.7em;
    text-decoration: none;
    margin: 0 0.2em 0.7em 0;
    line-height: 1.8;

}
.kaerebalink-link1 div a:hover, .booklink-link2 div a:hover {

    text-decoration: none;
    position: relative;
    bottom: -2px;
    opacity: 0.6;
    filter: alpha(opacity=60);

}

.booklink-link2 .shoplinkamazon a, .booklink-link2 .shoplinkkindle a, .kaerebalink-link1 .shoplinkamazon a {

    color: #E47911;
    border-color: #E47911;

}
.booklink-link2 .shoplinkrakuten a, .kaerebalink-link1 .shoplinkrakuten a {

    color: #bf0000;
    border-color: #bf0000;

}
.booklink-link2 .shoplinkyahoo a, .kaerebalink-link1 .shoplinkyahoo a {

    color: #7B6696 !important;
    border-color: #7B6696;

}
.kaerebalink-link1 div a img{
margin:0;
}
.pochireba-footer,.booklink-footer{
clear:left;
}
@media screen and (max-width: 640px){
	.kaerebalink-box,.booklink-box,.pochireba{
		min-height:100px;
	}

	.kaerebalink-name a, .booklink-name a, .pochi_name a {
		font-size: 1.1em;
	}
	.kaerebalink-link1 div a, .kaerebalink-link1 div a, .booklink-link2 div a {
		font-size: 0.9em;
	}	
}





/*ヨメレバリンク*/



/*google広告*/
.ad.content {
    /*margin: 5% auto;
    background: #eaeaea;*/
    padding: 3% 2%;
}

/*関連記事表示*/
.ssPoweredBy a {
    display: none !Important;
}
.ssLimitedContainerHeader {
    display: none !important;
}

/*SNS購読*/



.snsFeed li {
    display: inline-block;
    padding: 1% 3%;
    margin-right: 1%;
    /* border-radius: 3px; */
    font-size: 16px;
    margin-bottom: 3%;
}
.snsFeed > li a {
	color: #fff;
	text-decoration:none;
}
.snsFeed .fb {
    background: #4267b2 ;
}
.snsFeed .tw {
    background: #1b95e0;
}
.snsFeed .fe {
    background: #41b900;
}
.snsFeed .rs{
    background: #f26522;
}

@media screen and (min-width:768px){

}
@media screen and (max-width:767px){
	.entry h4,.toc_title {
		font-size:16px;
	}
	.entry h3 {
		font-size: 18px;
	}
	
	.entry h4:after,.toc_title:after{
		margin: 15px auto 30px;
	}	
	.entry img {
		margin: 5% auto 10%;
	}
}

/*ポチレバリンク*/

.pochireba {
    padding-left: 3% !important;
    padding-right: 3% !important;
}


/*prev-nextリンク*/

ul.prev-next li {
	list-style-type: none;
    margin: 0;
    width: 50%;
    display: inline-block;
	vertical-align:top;
}
.prev-next__bg{
    background-size: cover;
    background-position: center center;
}

.prev-next__bg:before{
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.3);
  }

.prev-next__txt{
	text-align: center;
    display: block;
	padding: 5%;
    color: #fff;
}


/*タグクラウド*/
.tagCloud li {
    list-style: none;
    background: #DB4A39;
    display: inline-block;
    color: #fff;
    padding: 0.5% 2%;
    font-size: 12px;
}
.tagCloud li .glyphicon{
	right: 5px;
}
.tagCloud li a {
    color: #fff;
    font-weight: 100;
    text-decoration: none;
}



/*関連記事出力*/
.wp_rp_title {
    color: #333 !important;
}
ul.related_post  li{
	line-height: 1.6;
}

/*SNSシェアボタン*/

.sns li {
    display: inline-block;
	width: 19%;
}
.share {
    text-align: center;
}
.sns li a {
    padding: 5%;
    display: block;
    border-radius: 4px;
}
.sns li a:hover {
	opacity: 1;
}

/* ツイッター */

.sns .twitter a {
    background: #fff;
    color: #00acee;
    border: #00acee 1px solid;
}
.sns  .twitter a:hover {
background:#00acee;
color:#fff;
}



/* Facebook */
.sns  .facebook a {
    background: #fff;
    color: #3b5998;
    border: #3b5998 1px solid;
}
.sns .facebook a:hover {
background:#3b5998;
color:#fff;
}


/* グーグル */
.sns .googleplus a {
background:#db4a39;
}
.sns  .googleplus a:hover {
background:#ad3a2d;
}
/* はてぶ */
.sns .hatebu a {
    background: #fff;
    color: #5d8ac1;
    border: #5d8ac1 1px solid;
}
.sns .hatebu a:hover {
background:#5d8ac1;
color:#fff;
}

/* Font Awesome hatena bookmark */
.fa-hatena:before {
	content: "B!";
	font-family: Verdana;
	font-weight: bold
}

/* LINE */
.sns  .line a {
background:#25af00;
}
.sns .line a:hover {
background:#219900;
}
/* Pocket */
.sns  .pocket a {
    background: #fff;
    color: #f03e51;
    border: #f03e51 1px solid;
}
.sns  .pocket a:hover {
background:#f03e51;
color:#fff;
}


/* RSS */
.sns  .rss a {
background:#ffb53c;
}
.sns  .rss a:hover {
background:#e09900;
}
/* Feedly */
.sns  .feedly a {
    background: #fff;
    color: #87c040;
    border: #87c040 1px solid;
}
.sns  .feedly a:hover {
background:#87c040;
color:#fff;
}





@media screen and (max-width:767px){

	.sns li {
		display: inline-block;
		width: 49%;
		margin-bottom: 2%;
	}
}

.mamahack-tw{
	display: none;
}



/*アーカイブページ------------------------------------*/

@media screen and (min-width:768px){
}
@media screen and (max-width:767px){
}

/*ページャー、ページネーション------------------------------------*/
.page-numbers {
    padding: 0.7% 1%;
}
span.page-numbers {
    color: #206885;
    font-weight: bold;
}

a.page-numbers {
    color: #c5c5c5;
}

/*ページネーション追加*/



/*コンタクトフォーム------------------------------------*/



@media screen and (min-width:768px){
}
@media screen and (max-width:767px){
}

/*==================================================
 * サイドバー
 *================================================*/



/*記事一覧*/


/*追記*/

.topAlertBox {
    border: 1px solid #a90303;
    padding: 5%;
}
.topAlertBox .service_inspection_maintitle {
    color: #a90102;
    border-bottom: 1px solid #a90102;
}

.topAlertBox .subTitle {
    color: #a90102;    
    text-align: left;
    font-size: 1.3em;
}



 
.topNewsHolidayUl li{
    font-size: 14px;
    list-style-type: disc;
    margin-left: 1.7em;
}